* {
  box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-image: url("../images/vintage-concrete.png");
    background-repeat: fixed;
    min-height: calc(100vh - 70px);

}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
   }

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
    }

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}    

h2, h3 {
    font-size: 22px;
}

/*header*/

#masthead {
    background: #fff;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
}
 

#snow {
    float: left;
    margin-right: 10px;
    width: 30%;
}



#logo {
    width: 400px;
    height: 85px;
    background: #4aaaa5;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
    color:#fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
      }

/* logo turns blue on hover */      
#logo:hover {color: blue}

/*nav bar*/

/* tilt nav on hover */

.tilt:hover {
    transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
}

/* color nav red on hover */

.tilt:hover{color: red}

nav {
    float: right;
    margin-top: 25px;
    margin-right: 35px; 
}

nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 2px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}
nav a:first-child {
    border-left: 0 none;
}

/*main*/
#main-container {
    padding-top: 140px;
    padding-bottom: 40px; 
}

.main-container {
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 960px;
    float: left;
    border: 1px solid #ddd;
   }


/*footer*/

footer {
    background: #666666;
    color: #fff;
    padding: 10px;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    width: 100%; 
    position: fixed;
    bottom: 0px;
    height: 50px;   
}   

/*portfolio*/
.work {
    display: inline-block;
    width: 274px;
    overflow: auto;
    position: relative;
    margin: 20px  20px;
      }      

    .work:nth-child(even) {
    margin-right: 10px;
}

 img {
    width: 100%;
    border: 0 none;
    opacity: .8;
}

 h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}

/* Rotates images on hover. */
.work:hover {
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
}

/*contact*/

#contact-form ul {
    margin-bottom: 20px;
    }

#contact-form li {
    margin-bottom: 10px;
    }
    
label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
    }

input[type=text],
input[type=email],
textarea {   
    height: 35px;
    border: 1px solid #ddd;
    font-size: 14px;
    }

textarea {
    height: 200px;
    }

textarea[type=submit] {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
    }
    h1:hover{color: purple}

    /* custom cursor animation-won't work properly on Chrome or Firefox */

   /* Start http://www.cursors-4u.com */ * {cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), 
    url(http://ani.cursors-4u.net/cursors/cur-12/cur1103.png),
    auto !important;} /* End http://www.cursors-4u.com */

    @media screen and (max-width: 768px) {
       #logo {
            width: 100%;
           }
       nav   {
            width: 100%;
            margin: 0px;     
            background-color: lightblue;
           }
        a    {
            width: 25%;
            margin: 0;
            padding: 0;
           }         
        }

